<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Gmail_Jxl/src/com/Gmail/utils/Xls_reader.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.Gmail.utils.Xls_reader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Gmail_Jxl"/>
</launchConfiguration>
